extends layout
block content
    .row
        .col-lg-12
            .margin-top200
                h2.text-success.text-center
                    i.fa.fa-check-circle-o.fa-2x
                    span.i-span approved purchase
                p.text-center
                    a(href="/cart").btn.btn-info.btn
                        i.fa.fa-home
                        span.i-span Go to Products